*{
    margin: 0;
    padding: 0;
}
h2{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 15px;
    height: 60px;
    width: 100%;
}
.vcs{
    background-color: rgb(153, 101, 201);
    height: 400px;
    padding-left: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.pl-dgn{
    height: 250px;
    width: 25%;
    border: 2px solid rgba(21, 156, 21, 0.811);
    background-color: rgb(52, 189, 227);
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    border-top: 22px solid #dc0f0f;
    border-radius: 5% 5% 0 0;
}
h3,p{
    padding-top: 15px;
    margin-bottom: 10px;
    color: white;
}
p{
    font-size: 18px;
}
.git-img{
    height: 300px;
    width: 40%;
    margin: 15px auto;
}
img{
    width: 100%;
    
}
.cmnd{
    height: 350px;
    margin: 20px auto;
    
}
.ls{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
li{
    font-size: 18px;
}